@page
@using WowGMSBackend.Model
@model GetAllMembersModel

<h2>Officers</h2>
<ul>
    @foreach (var officer in Model.Officers)
    {
        <li>
            @officer.Name
            @if (User.IsInRole("Officer") || User.IsInRole("Admin"))
            {
                <span>
                    <a asp-page="/Admin/Dashboard/Members/Edit" asp-route-id="@officer.MemberId" class="btn btn-sm btn-warning mx-1">Edit</a>
                    <a asp-page="/Admin/Dashboard/Members/Delete" asp-route-id="@officer.MemberId" class="btn btn-sm btn-danger">Delete</a>
                </span>
            }
        </li>
    }
</ul>

<h2>Raiders</h2>
<ul>
    @foreach (var raider in Model.Raiders)
    {
        <li>
            @raider.Name
            @if (User.IsInRole("Officer") || User.IsInRole("Admin"))
            {
                <span>
                    <a asp-page="/Admin/Dashboard/Members/Edit" asp-route-id="@raider.MemberId" class="btn btn-sm btn-warning mx-1">Edit</a>
                    <a asp-page="/Admin/Dashboard/Members/Delete" asp-route-id="@raider.MemberId" class="btn btn-sm btn-danger">Delete</a>
                </span>
            }
        </li>
    }
</ul>

<h2>Trialists</h2>
<ul>
    @foreach (var trialist in Model.Trialists)
    {
        <li>
            @trialist.Name
            @if (User.IsInRole("Officer") || User.IsInRole("Admin"))
            {
                <span>
                    <a asp-page="/Admin/Dashboard/Members/Edit" asp-route-id="@trialist.MemberId" class="btn btn-sm btn-warning mx-1">Edit</a>
                    <a asp-page="/Admin/Dashboard/Members/Delete" asp-route-id="@trialist.MemberId" class="btn btn-sm btn-danger">Delete</a>
                </span>
            }
        </li>
    }
</ul>