@page "/MemberPanel"
@using WowGMSBackend.Model
@model WoWGMS.Pages.MemberPanelModel
@{
    ViewData["Title"] = "Create Character";
    Layout = "_Layout";
}

<h2>Create a New Character</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="Character.CharacterName"></label>
        <input asp-for="Character.CharacterName" class="form-control" />
        <span asp-validation-for="Character.CharacterName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Character.RealmName"></label>
        <input asp-for="Character.RealmName" class="form-control" />
        <span asp-validation-for="Character.RealmName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Character.Class"></label>
        <select asp-for="Character.Class" class="form-control" asp-items="Html.GetEnumSelectList<Class>()"></select>
    </div>

    <div class="form-group">
        <label asp-for="Character.Role"></label>
        <select asp-for="Character.Role" class="form-control" asp-items="Html.GetEnumSelectList<Role>()"></select>
    </div>
    <div class="form-group">
        <label>Boss Kills</label>
        @foreach (var boss in Model.AllBosses)
        {
            <div class="form-group row align-items-center">
                <label class="col-sm-4 col-form-label">@boss.DisplayName</label>
                <div class="col-sm-2">
                    <input type="number"
                           name="BossKillInputs[@boss.Slug]"
                           class="form-control"
                           min="0"
                           value="0" />
                </div>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Character</button>
</form>

<hr />

<h3>Your Characters</h3>

@if (Model.CharactersForMember != null && Model.CharactersForMember.Any())
{
    <table class="table table-striped table-dark mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Realm</th>
                <th>Class</th>
                <th>Role</th>
                <th>Highest Kill</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.CharactersForMember)
            {
                <tr>
                    <td>@entry.Character.CharacterName</td>
                    <td>@entry.Character.RealmName</td>
                    <td>@entry.Character.Class</td>
                    <td>@entry.Character.Role</td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You don't have any characters yet.</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
